<div class="container-fluid heading">
  		<h1 id="title">The Intern</h1>	
  		<p class="hidden-xs">My Experience As A Tableau Intern</p>
    </div>	

		<div class="headline">
			<img class ="icon" src="img/gotData.jpg">
			<p><i>Welcome</i></p>
		</div>
	
    <div id = "welcome">
		<div class="container text-center">	
			<div class ="row">
  				<div class="col-md-4">
  					<svg class="cafe-pic" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M21 3L3 10.53v.98l6.84 2.65L12.48 21h.98L21 3z"/></svg>
  						<p>Mon&ndash;Fri: 7am&ndash;7pm;</p>
  						<p>Sat&ndash;Sun: 9am&ndash;7pm;</p>
                </div>
  				<div class="col-md-4">
                    <svg class="cafe-pic" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 792 792"><path id="svg_brown" d="M396.065 792l-10.155-17.896c-1.455-2.568-146.63-258.487-186.97-333.42-25.627-47.656-55.543-125.468-55.543-187.954C143.397 113.377 256.72 0 396.012 0c139.275 0 252.59 113.377 252.59 252.73 0 60.357-27.956 141.853-54.272 187.9-47.1 82.137-186.792 330.928-188.192 333.428L396.065 792zm-.053-768.78c-126.49 0-229.394 102.96-229.394 229.51 0 54.436 26.502 128.1 52.764 176.947C253.354 492.774 362.11 685 395.958 744.747c33.09-58.897 138.5-246.4 178.2-315.65 25.172-44.042 51.21-122.07 51.21-176.367.015-126.55-102.883-229.51-229.356-229.51zm0 343.43c-63.214 0-114.64-51.442-114.64-114.67 0-63.245 51.426-114.702 114.64-114.702 63.19 0 114.606 51.457 114.606 114.7-.007 63.23-51.416 114.67-114.606 114.67zm0-206.15c-50.412 0-91.418 41.037-91.418 91.48 0 50.426 41.007 91.45 91.418 91.45 50.388 0 91.388-41.03 91.388-91.45-.008-50.443-41.008-91.48-91.388-91.48z"/></svg>    
                    <p><a href="https://www.google.com/maps/place/4214+University+Way+NE,+Seattle,+WA+98105" target="_blank">
                        <img src="img/gotData.jpg">
                    </a></p>
                </div>
                <div class="col-md-4">
                    <svg class="cafe-pic" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288.937 288.938"><path id="svg_brown" d="M207.967 272.338c-22.815 12.03-46.076 16.6-73.897 16.6-68.084 0-125.788-49.793-125.788-129.508C8.282 73.9 67.642 0 159.832 0c72.242 0 120.823 50.642 120.823 119.973 0 62.272-34.88 98.81-73.9 98.81-16.633 0-31.975-11.218-30.728-36.537h-1.658c-14.536 24.507-33.637 36.538-58.55 36.538-24.07 0-44.826-19.533-44.826-52.325 0-51.486 40.67-98.374 98.373-98.374 17.846 0 33.64 3.717 44.418 8.723l-14.096 75.12c-6.222 31.574-1.26 46.11 12.442 46.51 21.19.406 44.857-27.824 44.857-75.993 0-60.176-36.14-103.38-100.507-103.38-67.644 0-124.538 53.58-124.538 137.86 0 69.337 45.267 112.096 106.687 112.096 23.667 0 45.676-4.997 62.71-14.535l6.625 17.85zm-22.82-179.374c-4.157-1.218-11.225-2.876-20.763-2.876-36.538 0-66.02 34.448-66.02 74.717 0 18.286 9.13 31.575 27.415 31.575 24.07 0 46.072-30.73 50.64-56.494l8.726-46.922z"/></svg>

                    <p><i class="envelope"></i><a href="mailto:dawgcoffee@gmail.com">dawgcoffee@gmail.com</a></p>    
                    <p><i class="phone"></i><a href="tel">206-555-1212</a></p>
                    <p><i class="twitter"></i><a href="https://twitter.com/dawgcoffee" target="_blank">@dawgcoffee</a></p>
                </div>	
            </div>
	   </div>
    </div>   

	<div id="menu">
        <div class="container-fluid">
		        <h2>Menu</h2>
            <div class="row">
                <div class="col-sm-6">
                 <h3>Drinks</h3>
                    <dl>
                        <dt>Espresso</dt>
                        <dd>dark and rich, pulled with care
                        </dd>
                        <dt>Latte</dt>
                        <dd>milky and sweet, with various syrups and toppings
                        </dd>
                        <dt>Mocha</dt>
                        <dd>chocolate, milk, and espresso, what could be better?</dd>
                    </dl>
                </div>
            <div class="col-sm-6">
                <h3>Treats</h3>
                <dl>
                    <dt>Muffins &amp; Scones</dt>
                    <dd>banana, blueberry, chocolate, and pumpkin
                    </dd>
                    <dt>Cookies</dt>
                    <a id="story-section-anchor"></a>
                    <dd>chocolate chunk, peanut butter, and oatmeal
                    </dd>
                    <dt>Breads</dt>
                    <dd>zucchini, banana, lemon, ginger
                    </dd>
                </dl>
            </div>
        </div>
	</div>

	<div id="story"> 
        <div class = "container">
		  <h2>Our Story</h2>
		  <img id="story-img" src="img/gotData.jpg">
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad     minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est     laborum.
            </p>
        </div>	
	</div>