<div class="container-fluid heading">
			<h1 id="title">The Intern<br/>Posts</h1>	
			<p class="hidden-xs">Tableau: Through The Eyes Of An Intern</p>
</div>	

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class = "item">
				<h2>{{post.name}}</h2>
				<img ng-src="{{post.image}}" alt="image of coffee bean" height="225" align="left">
				<p>{{post.full.description}}</p>
				<a ng-href="https://public.tableau.com/profile/ashlyn.opgrande#!/">Link to My Tableau Public Website</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class = "item">
				<h2>{{post.workbooks.workbook[0].name}}</h2>
				<p>{{post.workbooks.workbook[0].description}}</p>
				<a ng-href="{{post.workbooks.workbook[0].externalUrl}}">{{post.workbooks.workbook[0].name}}</a>
			</div>
			<div class = "item">
				<h2>{{post.workbooks.workbook[1].name}}</h2>
				<p>{{post.workbooks.workbook[1].description}}</p>
				<a ng-href="{{post.workbooks.workbook[1].externalUrl}}">{{post.workbooks.workbook[1].name}}</a>
			</div>	
		</div>
	</div>
</div>	