<div class="container-fluid heading">
			<h1 id="title">The Intern<br/>Posts</h1>	
			<p class="hidden-xs">Tableau: Through The Eyes Of An Intern</p>
</div>	

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class = "item">
				<h2>{{post.name}}</h2>
				<img ng-src="{{post.image}}" alt="image of coffee bean" height="225">
				<p>{{post.description}}</p>
				<h2>About The Grower | {{post.grower.name}}</h2>
				<img ng-src="{{post.grower.image}}" alt="image of the grower of the bean" height="225">
				<p>{{post.grower.description}}</p>
				<a ng-href="{{post.grower.externalUrl}}">Link to their website</a>
			</div>
		</div>
	</div>
</div>	